table {
    border: 1px solid black;
    width: 50%;
}

th {
    border-bottom: 1px solid #ddd;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

td {
    border: 1px;
    height: 25px;
    text-align: left;
    vertical-align: bottom;
}


